html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: thistle;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

nav>ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

nav>* {
  padding: 0rem 1rem;
}
